#bodyAdminLanding{
    height: 100%;
    background-image: url(../../../assets/images/adminLanding/computer-3163436_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}
.btnArea{
    height: 80px;
}