<div class="container-fluid" id="bodyAdminLanding">
    <div class="row px-5 pt-4">
        <!-- <div class="col-12 text-center my-4">
            <h1>Agregar Servicio al landing</h1>
            <p>
                En este apartado podras crear el contenido de un servicio: el nombre, el contenido y una imagen desde la
                web.
            </p>
        </div> -->

        <mat-tab-group #tabs animationDuration="800ms" class="panelAdmin pt-5 mt-2 px-5">
            <mat-tab label="Lista de servicios">
                <!-- tab listar services -->

                <div class="container">
                    <mat-selection-list #shoes [multiple]="false" class="">
                        <h3>Servicios</h3>

                        <mat-list-option *ngFor="let serv of servSelected">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between">{{serv.name}} <div
                                            class="d-flex">
                                            <fa-icon [icon]="faPencilAlt" class="mx-1 iconTab"
                                                (click)="editServLand(serv)" matTooltip="Editar servicio ">Edit
                                            </fa-icon>
                                            <fa-icon [icon]="faTrash" class="mx-1 iconTab" (click)="openModal(template, serv)"
                                                matTooltip="Eliminar servicio">delete</fa-icon>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>

                <!-- <p>
  Option selected: {{shoes.selectedOptions.selected}}
</p> -->
                <!-- termina tab services -->
            </mat-tab>
            <mat-tab label="Crear/Editar">
                
                <form class="col-12 pt-5 px-4 " [formGroup]="formServices" (ngSubmit)="saveServLanding()"
                    style="height: 60vh;">
                    <h3 class="text-center">Crear/Editar un servicio</h3>
                    <mat-form-field class="example-full-width col-12">
                        <mat-label>Url de imagen de fondo</mat-label>
                        <input matInput formControlName="urlImg" placeholder="Http://etc....">
                        <!-- <mat-error *ngIf="!name.hasError('required')">
                    Please enter a name
                </mat-error> -->

                    </mat-form-field>

                    <mat-form-field class="example-full-width col-12">
                        <mat-label>* Nombre del servicio</mat-label>
                        <input maxlength="45" matInput formControlName="name" placeholder="Ex. Hojalateria">
                        <mat-error *ngIf="name.hasError('required')">
                            Please enter a name
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="example-full-width col-12">
                        <mat-label>* Descripción del servicio</mat-label>
                        <textarea matInput formControlName="desc" placeholder="Ex. bla bla bla"></textarea>
                        <mat-error *ngIf="desc.hasError('required')">
                            Please enter a description
                        </mat-error>

                    </mat-form-field>

                    <div class="col-12 py-2 my-2ng formServices">
                        <button *ngIf="idService==''" mat-raised-button color="warn" type="submit" [disabled]="formServices.invalid"
                            class="btn btn-dark align-right">Save</button>
                            <button *ngIf="idService!=''" mat-raised-button color="warn" type="button" [disabled]="formServices.invalid"
                            class="btn btn-dark align-right ml-3" (mouseup)="updateServLcanding()">Update</button>
                            <button mat-raised-button color="warn" type="button"
                            class="btn btn-danger align-right ml-3" (mouseup)="cancelEditSave()">Cancelar</button>
                    </div>

                </form>
                <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

                <ng-template #template >
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Eliminar</h4>
                    </div>
                    <div class="modal-body">
                        ¿Estas segur@ que quires eliminar el servicio {{nameService}}?
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark mt-4 mb-2 ml-4 " aria-label="Close"
                            (click)="modalRef.hide()">
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-dark mt-4 mb-2 ml-4" (click)="deleteServLanding()" (mouseup)="modalRef.hide()">Eliminar</button>
                    </div>
                </ng-template>
            </mat-tab>
            <!-- <mat-tab label="Third">Content 3</mat-tab> -->
        </mat-tab-group>

    </div>
</div>
