/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.panelAdmin{
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    // background-color: rgb(162, 142, 168);
    border: .5px solid rgb(129, 226, 233);
    backdrop-filter: blur(2.5px);
    textarea{
        height: 10vh;
        resize: none !important;
        padding-left: 10px;
        &:focus{
            outline: none;
        }
    }
    input{
        padding-left: 10px;
        &:focus{
            outline: none;
        }
    }
}
button{
    width: 100px;
    height: 40px;
    &:focus{
        outline: none !important;
    }
}
.iconTab{
    
    cursor: pointer;
    &:hover{
        color: rgb(129, 226, 233) !important;
    }
}